<?xml version="1.0" encoding="UTF-8"?>
<!-- product1 -->
<configuration>
    <property name="logstash.path" value="/opt/app/tomcat/logs/school" />
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>[SCHOOL] %d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{80} - %msg%n</Pattern>
		</layout>
	</appender>
	
	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${logstash.path}/school.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>
				${logstash.path}/school.%d{yyyy-MM-dd}-%i.log
			</FileNamePattern>
			<maxHistory>30</maxHistory>
			<TimeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>50MB</maxFileSize>
			</TimeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<Pattern> [SCHOOL] %d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{80} - %msg%n</Pattern>
		</encoder>
	</appender>
	
	<root>
		<level value="DEBUG"/>
		<appender-ref ref="FILE" />
	</root>
	
   <logger name="org.springframework" level="WARN"/>
   <logger name="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping" level="WARN"/>
   <logger name="org.hibernate.validator" level="WARN"/>
   <logger name="org.apache.http" level="WARN"/>
   <logger name="httpclient" level="WARN"/>
   <logger name="com.ibatis.sqlmap.engine.cache.CacheModel" level="WARN"/>
   <logger name="java.sql.Connection" level="DEBUG"/>
   <logger name="org.springframework.data.mongodb" level="WARN"/>
   <logger name="com.mchange" level="WARN"/>
   <logger name="com.rop.session.AppCacheSessionManager" level="WARN"/>
   <logger name="com.rop.security.DefaultSecurityManager" level="WARN"/>

</configuration>

